@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @apply bg-base-100 dark:bg-base-100-dark;
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}