.sliced_wrapper {
    display: grid;
    place-content: center;
  }
  
  .sliced_wrapper > div {
    grid-area: 1/1/-1/-1;
  }

  .sliced_top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .sliced_bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  
.logo_wrapper {
    @apply h-8 text-3xl bg-transparent cursor-pointer;
}

.logo_top {
    @apply bg-transparent text-gray-400 font-bold font-old-english;
}

.logo_wrapper:hover .logo_top {
    @apply text-cyan-300;
}

.logo_bottom {
    @apply font-old-english bg-gradient-to-t from-gray-600 to-gray-400 font-bold;
}

.logo_wrapper:hover .logo_bottom {
    @apply bg-gradient-to-b from-blue-900 to-cyan-300;
}